# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs
logs/
*.log

# Go build cache & modules
bin/
pkg/
*.a

# Go workspace
go.work
go.work.sum

# IDE/editor junk
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Config
config.yaml
